@import '../proxy'

//shareSmallButtons
.smallBtn
  display inline-block
  padding 5px
  svg
    fill gray(40)
    box(20px)

  &.facebook
    &:hover
      svg
        fill facebookColor

  &.twitter
    &:hover
      svg
        fill twitterColor

.btnList
  width 80px
  height 40px
  display block
  float right
  padding 0
  margin 0
  list-style none
  li
    float left
    margin-left 10px

// mediumShareButtons
.mediumBtn
  display block
  width 100%
  height 50px
  box-sizing border-box

  &.twitter
    background facebookColor

  &.facebook
    background twitterColor
