@import '../proxy'

.smallBtn
  display inline-block
  padding 5px
  svg
    fill gray(40)
    box(20px)


.facebook
  &:hover
    svg
      fill #3b5998


.twitter
  &:hover
    svg
      fill #1da1f3


.btnList
  width 80px
  height 40px
  display block
  float right
  padding 0
  margin 0
  list-style none
  li
    float left
    margin-left 10px

