
_border = 1px solid darken(_header_bg, 5)
border-minimal = 1px solid lighten(_header_bg, 20)

//sizes

//header sizes
_header_height = 40px

//font family
_font_family = "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif


// font scales 5, 7, 9, 12, 16, 21, 28, 37, 50, 67, 89
// font scalesx2: 10, 14, 18, 24, 32, 42, 56
