nav.nav.tab
  ul
    li
      a(href="/popular" class={active: tab==='1'}) Popular
    li
      a(href="/new" class={active: tab==='2'}) New
    li
      a(href="/collections" class={active: tab==='3'}) Collections
