.form-review
  margin-top 15px
  width 100%
  box-sizing border-box
  textarea
    border 1px solid gray(30)
    border-radius 3px
    width 100%
    box-sizing border-box
    padding 5px
    font-size 14px
    color gray(75)
    height 90px
    &:focus
      border 1px solid _blue
      outline none

