// .quote
//   p
//     margin 5px 0 10px
//     font-size 24px
//     color gray(80)

// .quote-content
//   color gray(75)

// .quote-content-link
//   @extend .quote-content
//   text-decoration none

//   &:hover
//     color gray(80)


// .quote-meta
//   h3
//     margin 5px 0
//   h3
//   a
//     display inline-block
//     margin-left 5px
//     color gray(95)
//     text-decoration none

//   a:hover
//     text-decoration underline


// .quote-detail-content
//   font-size 30px

