.form-search
  box-sizing border-box
  padding 3px 0
  height 100%
  width 100%

  .wrap-input
    position relative
    height 28px

  input
    display block
    position absolute
    box-sizing border-box
    width 100%
    top 0
    right 0
    left 0
    bottom 0
    padding 3px 25px 2px 4px
    font-size 16px
    border 1px solid gray(10)
    border-radius 3px
    color gray(70)
    outline none
    background #F7F8FA

    &:focus
      border 1px solid gray(40)
      background gray(5)
      background #fff

.form-search-landing
  box-sizing border-box
  padding 3px 0
  height 100%
  width 100%

  .wrap-input
    position relative
    height 28px

    .icon-search
      position relative
      fill #fff
      box(30px)
      // font-size 30px
      float right
      top 10px
      right 10px

  input
    display block
    position absolute
    box-sizing border-box
    height 50px
    width 100%
    top 0
    right 0
    left 0
    bottom 0
    padding 5px 25px 5px 5px
    font-size 24px
    border 2px solid #fff
    border-radius 4px
    color #fff
    outline none
    background none

    &:focus
      border 2px solid _blue
