.tab
  height 33px
  display block
  text-align center
  background #fff
  .active
    color _blue
    border-bottom 2px solid _blue

  ul
    display inline-block

  a
    display inline-block
    text-decoration none
    color gray(50)
    font-size 14px
    text-transform uppercase
    padding 10px 0 5px

    &:hover
      color _blue
