extends layout

block content
  .sets
    .view-pic-wrap
      .view-pic
        section.pic-main
          +pics-detail-node
          +pics-detail-node
          +pics-detail-node
          +pics-detail-node

        aside.pic-aside
          .ad-box
