// @import '../../../assets/styles/modules/tools/functions'
@import '../proxy'
//QuoteItem

.link
  color gray(75)
  text-decoration none

  &:hover
    color gray(80)

// .metaItem

.author
  display inline-block
  margin 5px 0
  a
    margin-left 5px
    color gray(95)
    text-decoration none

  a:hover
    text-decoration underline
//end QuoteItem



//quote section
.quoteSection
  max-width 800px
  margin 46px auto 0


.main
  padding 20px
  p
    margin 5px 0 10px
    font-size 24px
    color gray(80)
.quoteMeta
  padding-bottom 30px

.quoteAuthor
  @extends .author
  margin-bottom 50px


//end quote section
