// @import '../../../assets/styles/modules/tools/functions'
@import '../proxy'
//QuoteItem

.item
  .tiny
    font-size 32px
  .small
    font-size 28px
  .medium
    font-size 22px
  .large
    font-size 18px


.link
  color gray(75)
  text-decoration none
  font-family 'Libre Baskerville', serif

  &:hover
    color gray(80)

// .metaItem

.author
  display inline-block
  margin 5px 0
  a
    margin-left 5px
    color gray(80)
    text-decoration none

  a:hover
    text-decoration underline
//end QuoteItem



//quote section
.quoteSection
  max-width 800px
  margin 46px auto 0
  .tiny
    font-size 67px
  .small
    font-size 50px
  .medium
    font-size 37px
  .large
    font-size 28px

.main
  padding 20px
  p
    margin 5px 0 10px
    font-size 24px
    color gray(70)
    font-family 'Libre Baskerville', serif
.quoteMeta
  padding-bottom 30px

.quoteAuthor
  @extends .author
  margin-bottom 50px

//end quote section
