.wrap
  margin 0 auto
  @media screen and (min-width: 1190px)
    width 1190px


.inner
  padding-bottom 10px

  @media screen and (min-width: 800px)
    padding-right 410px

.main
  width 100%
  margin-bottom 10px

  @media screen and (min-width: 800px)
    float left

.sidebar
  @media screen and (min-width: 800px)
    width 400px
    float right
    margin-right -410px
