.wrap
  margin 0 auto
  @media screen and (min-width: 1190px)
    width 990px

.inner
  padding-bottom 10px

  @media screen and (min-width: 800px)
    padding-right 310px

.main
  width 100%
  margin-bottom 10px
  float right
  @media screen and (min-width: 800px)
    float left

.sidebar
  float left
  @media screen and (min-width: 800px)
    width 300px
    float right
    margin-right -310px


.wrapLeft
  margin 0 auto
  @media screen and (min-width: 1190px)
    width 1190px

.innerLeft
  padding-bottom 10px

  @media screen and (min-width: 800px)
    padding-left 210px

.mainLeft
  width 100%
  margin-bottom 10px
  float right
  @media screen and (min-width: 800px)
    float right

.asideLeft
  float left
  @media screen and (min-width: 800px)
    width 200px
    float left
    margin-left -210px
