.search-detail
  background #fff
  border-bottom 1px solid gray(5)
  .inner
    margin 0 auto
    padding 40px 0 10px
    max-width 1200px

  h1
    color gray(50)
    font-size 21px
    margin 10px 0 5px
    font-weight 100
  span
    color gray(30)
    font-size 14px

  ul
    display inline
    padding 0
    font-size 14px
  li
    display inline
    margin 0 2px
    list-style none

  a
    text-decoration none
    color _blue
