@import '../proxy'
.section
  margin-top 46px

.pic
  float left
  width 120px
  height 90px
  background red
  img
    display block
    width 120px
    height 90px
    box-sizing border-box
    border 1px solid gray(5)

.title
  float left
  padding-left 15px
